:root {
  --font-family-alata: "Alata", sans-serif;
  --font-family-josefin: "Josefin Sans", sans-serif;

  --font-size-14: 0.88rem;
  --font-size-15: 0.94rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;
  --font-size-52: 3.25rem;
  --font-size-72: 4.5rem;

  --font-weight-300: 300;
  --font-weight-400: 400;
}
